* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


/* Navbar */

#navbar {
  background: #333;
  color: aliceblue;
  overflow: auto; 
  
}

#navbar li, a {
   color: aqua;
   margin: 10px; 
   text-decoration: none; 
   font-size: 20px;
}

#navbar ul {
   display: flex;
   flex-direction: row;
   padding: 10px;
   margin: 5px;
   list-style-type: none;
}

#navbar a:hover {
   color: chocolate;
}

/* Body */


.container-head  {
    background: url(pics/Boycie.JPG) no-repeat center center/cover;
    height: 200vh;
   
}

.container {
    position: relative;
    color: chocolate;
    font-weight: bold;
    overflow: hidden;
    height: 100%;
}

.container h1 {
    font-size: 60px;
    position: relative;
    top: 40px;
    text-align: center;
}

.container p {
    font-size: 1.5rem;
    line-height: 40px;
    position: relative;
    top: 40px;
    margin:  20px 80px;
    padding: 20px;
    text-align: center;
}

.list-1 {
    position: relative;
    display: inline-block;
    left: 70%;
    top: 30px;
    font-size: 1.3rem;
    
}

.list-1 h3 {
    font-size: 1.7rem;
    margin-bottom: 50px;
    right: 40px;
    color: black;
}

.list-1 ul {
    list-style-type: none;
}

.list-1 li {
    line-height: 30px;
}

.list-2 {
    position: absolute;
    display: inline-block;
    left: 20%;
    top: 260px;
    font-size: 1.3rem;
}

.list-2 h3 {
    font-size: 1.7rem;
    margin-bottom: 50px;
    right: 95px;
    color: white;
}

.list-2 ul {
    list-style-type: none;
}

.list-2 li {
    line-height: 30px;
}

/* Home Video */

.player {
    position: absolute;
    left: 40%;
    top: 60%;
    align-items: center;
}

.player button {
    padding: 10px;
    background: aqua;
    border-radius: 10px;
    position: relative;
    left: 120px;
}

.player button:hover {
    background-color: chocolate;
    cursor: pointer;
}

.player p {
    font-size: 1.5rem;
    font-weight: bold;
    color: chocolate;
    line-height: 40px;
    top: 5px;
    margin: 5px;
    padding: 5px;
    position: relative;  
}

/* Video */

.play-wrapper{
    position: absolute;
    left: 640px;
    top: 550px; 
    display: none;
}

.playing {
    height: 500px;
    font-size: 30px;
    color: chocolate;
    margin: 0;
}

.playing p {
    position: relative;
    right: 30px;
    top: 30px;
    font-weight: bold;
}

.playing > .vid-close > p:hover {
    cursor: pointer;
    color: aqua;
}

.play {
    height: 300px;
    
}

/* Footer */

#main-footer {  
    position: absolute; 
    display: block; 
    background-color: #333;
    height: 73px;
    width: 100%;
    overflow: hidden;
    }

#main-footer p { 
    
    text-align: center;
    padding-top: 7px;
    margin: 1px 0;
    color: chocolate;
    font-weight: bold;
    font-size: 1.3rem;
    
}

/* About */

.about-container {
    position: absolute;
    text-align: center;
    top: 700px;
    margin: 200px; 
}

#about {
    font-weight: bold;
    color: chocolate;
    line-height: 40px;
    font-size: 1.5rem;
}

#about h1 {
    margin-bottom: 30px;
}

/* Blog, navabar */


#navbar-blog {
    background: #333;
    color: aliceblue;
    overflow: auto; 
    
  }
  
  #navbar-blog li, a {
     color: aqua;
     margin: 10px; 
     text-decoration: none; 
     font-size: 20px;
  }
  
  #navbar-blog ul {
     display: flex;
     flex-direction: row;
     padding: 10px;
     margin: 5px;
     list-style-type: none;
  }
  
  #navbar-blog a:hover {
     color: chocolate;
  }

#blog-container {
    background: url(pics/Garden.jpeg) no-repeat center center/cover;
    height: 120vh;
    max-width: auto;
    z-index: -1;
}

#blog-container h1, h3 {
    position: relative;
    top: 40px;
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 2rem;
    overflow: hidden;
}

.story {
    line-height: 30px;
}


.story p {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    display: flex;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: bolder;
    color: chocolate;
    background-color: lightgrey;
    
  }


 
 

